#back {
    -fx-background-image: url(../../../../pictures/background.jpg);
    -fx-background-size: cover;
}
#startButton{
    -fx-graphic: url(../../../../pictures/newStart.png);
}

#endButton{
    -fx-graphic: url(../../../../pictures/newExit.png);
}
.button {
    -fx-background-color: transparent;
    -fx-background-size: contain;
}

